@page "/"

@inject IDocumentRepository _documentRepository
@inject IJSRuntime JS
@*This can be made into any sort of modal. The only thing I do is show/hide whatever has this ID*@
<p id="@PdfViewerSelectors.LoadingModalId">Loading...</p>

<section id="@PdfViewerSelectors.PdfViewerComponentId">
    <div id="@PdfViewerSelectors.NavigationControlsId">
        <button @onclick="PreviousPage">Previous</button>
        <input id="@PdfViewerSelectors.CurrentPageInputId" value="@PageNumber" @onchange="(e) => SetPageNumber(int.Parse(e.Value.ToString()))" type="number" />
        <span>of @(Document != null ? Document.PageCount : 0)</span>
        <button @onclick="NextPage">Next</button>
        <button @onclick="ZoomIn">+</button>
        <button @onclick="ZoomOut">-</button>
        <button @onclick="(() => Rotate(-90))">⟲</button>
        <button @onclick="(() => Rotate(90))">⟳</button>
    </div>

    <div id="@PdfViewerSelectors.PdfWindowId">
        <ul id="@PdfViewerSelectors.ThumbnailContainerId">
            @if (Document != null && Document.PageCount > 0)
            {
                foreach (var page in Document.Pages.PagesArray)
                {
                    var pageNum = Document.Pages.PagesArray.ToList().IndexOf(page);

                    // JS will add the canvases
                    <li @onclick="@(() => SetPageNumber(pageNum))">
                        <div class="@PdfViewerSelectors.ThumbnailCanvasContainerClass"></div>
                    </li>
                }
            }
        </ul>
        <div id="@PdfViewerSelectors.MainCanvasContainerId">
            <canvas id="@PdfViewerSelectors.MainCanvasId" />
        </div>
    </div>
</section>

@code{
    private PdfDocument Document;
    private string DocumentPath;
    private int PageNumber = 1;

    private bool PageRendered = false;

    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        await JS.InvokeAsync<Task>("setPageLoading", true, PdfViewerSelectors.LoadingModalId, PdfViewerSelectors.PdfViewerComponentId);

        if (Document == null)
        {
            Document = _documentRepository.GetLocalPdf();
        }

        if (string.IsNullOrWhiteSpace(DocumentPath))
        {
            await SetDocumentPath();
        }

        if (!PageRendered)
        {
            await JS.InvokeAsync<Task>("setPdf", DocumentPath, PdfViewerSelectors.MainCanvasId, PdfViewerSelectors.ThumbnailContainerId, PdfViewerSelectors.ThumbnailCanvasContainerClass);
            PageRendered = true;
        }

        await JS.InvokeAsync<Task>("setPageLoading", false, PdfViewerSelectors.LoadingModalId, PdfViewerSelectors.PdfViewerComponentId);
    }

    private async Task SetDocumentPath()
    {
        DocumentPath = await JS.InvokeAsync<string>("createPdfDataUrl", Document.ToBase64String());
        StateHasChanged();
    }

    private async Task PreviousPage()
    {
        PageNumber = await JS.InvokeAsync<int>("previousPage", PdfViewerSelectors.CurrentPageInputId, PdfViewerSelectors.MainCanvasId);
    }

    private async Task NextPage()
    {
        PageNumber = await JS.InvokeAsync<int>("nextPage", PdfViewerSelectors.CurrentPageInputId, PdfViewerSelectors.MainCanvasId);
    }

    private async Task ZoomIn()
    {
        await JS.InvokeAsync<Task>("zoom", 0.25, PdfViewerSelectors.MainCanvasId);
    }

    private async Task ZoomOut()
    {
        await JS.InvokeAsync<Task>("zoom", -0.25, PdfViewerSelectors.MainCanvasId);
    }

    private async Task SetPageNumber(int value)
    {
        if (value > 0 && value <= Document.PageCount)
        {
            PageNumber = value;
            await JS.InvokeAsync<Task>("changePageToNumber", value, PdfViewerSelectors.CurrentPageInputId, PdfViewerSelectors.MainCanvasId);
        }
    }

    private async Task Rotate(int degrees)
    {
        await JS.InvokeAsync<Task>("setPageLoading", true, PdfViewerSelectors.LoadingModalId, PdfViewerSelectors.PdfViewerComponentId);
        // don't need to set to false, life cycle change handles that
        // but this operation takes a while, so we should start asap

        var page = Document.Pages[PageNumber - 1];
        page.Rotate += degrees;
        await SetDocumentPath();
        PageRendered = false; //triggers change in life cycle, will set pdf again
    }
}